@import "bootstrap";
@import "font-awesome";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  background: image_url('dark-honeycomb.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #00C122;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.hero {
  background: image_url('mountains.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 569px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: #00C122;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('bg.png');
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  color: #00C122;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  -webkit-box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  background: rgb(41, 38, 38);
  border: 1px solid #ccc;
  border-color: rgb(41, 38, 38);
  padding: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: black; 
  margin-top: 10px;
  height: 130px;
}

.section {
  border: 1px solid;
  padding: 5px;
}

.lesson a {
  color: #00C122;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 25px;
}

.lesson a b {
  font-weight: 100;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #00C122;
  padding: 7px;
}

.header {
  font-size: 30px;
}

.lessons li {
  background: black;
  color: #00C122;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 20px;
}

.lesson_link {
  margin-bottom: 40px;
  margin-right: 10px;
}

.lessons li b {
  font-size: 25px;
}

.lessons li p {
  margin: 0;
}

